.idea
a_env
examples_*
.spyproject
__pycache__
.ipynb_checkpoints
data
output
pretrain
wandb
supp*
*.zip
saved_models
ign*
.vscode
*.sh
*cmd.txt
*.pth
jobs
SANSA.pdf
uncertainSAM.pdf
SANSA
uncertainSAM
/Paper/
!UFSAM2/models/sansa/
!UFSAM2/models/sansa/post_memory_calibration.py
